/* Footer */
 a:hover,  a:focus,  a:active
{
    text-decoration: none;
    color: inherit;
}

footer h1, footer h2, footer h3, footer h4, footer p, footer a, footer li
{
    color: #ffffff;
}

footer
{
    background-color: #6c6c69;
    padding-top: 2.188rem;
    padding-bottom: 0.5rem;
}

footer p, footer a
{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
}

footer a
{
    text-decoration: underline;
    cursor: pointer;
}

footer .link
{
    height: 4.8em;
    line-height: 4.8em;
    white-space: nowrap;
}