{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="../css/admin/addBlogPost.css">
    <link rel="stylesheet" href="../css/admin/addAdminAccount.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-1">
                <a href="/admin/compte">
                    <img id="img-home" src="../img/pictos/arrow-105-64.png" alt="Flèche gauche">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1>Ajouter un compte administrateur</h1>
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-10">
                <form method="post" action="/admin/post-new-admin-account">
                    <div class="col-md-5 col-12 inline-block">
                        <label for="nom">Nom</label>
                        <input type="text" name="nom" id="nom" required/>
                    </div>
                    <div class="offset-md-1 col-md-5 col-12 inline-block">
                        <label for="prenom">Prénom</label>
                        <input type="text" name="prenom" id="prenom" required/>
                    </div>
                    <div class="col-md-5 col-12">
                        <label for="pseudo">Pseudo</label>
                        <input type="text" name="pseudo" id="pseudo" required/>
                    </div>
                    <div class="col-12">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" required/>
                    </div>
                    <div class="col-md-8 col-12">
                        <label for="mdp1">Mot de Passe</label>
                        <input type="password" name="mdp1" id="mdp1" required/>
                    </div>
                    <div class="col-md-8 col-12">
                        <label for="mdp2">Confirmation du mot de passe</label>
                        <input type="password" name="mdp2" id="mdp2" required/>
                    </div>
                    <div class="col-12 text-center">
                        <div class="g-recaptcha" data-sitekey="6LeJCnQUAAAAAOlqRpKqFm-4oo8i71Luuo0j_S_F"></div>
                    </div>
                    <input type="hidden" name="token" id="token" value="{{ token }}">
                    <div class="col-12">
                        <p id="subP"><input type="submit" value="Valider" id="submit"/></p>
                    </div>
                </form>
            </div>

            {% if session.error %}
                <div id="error-form">
                    <img src="../img/pictos/error-5-128.png" alt="erreur symbole">
                    <p>{{ session.error|raw }}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}