{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="../css/admin/commentList.css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-1">
            <a href="/admin/accueil">
                <img id="img-home" src="../img/pictos/arrow-105-64.png" alt="Flèche gauche">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Gestion les commentaires</h1>
        </div>
    </div>

</div>
{% endblock %}