{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="../css/admin/homepage.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" id="return-row">
            <div class="col-5 col-lg-2 return-div">
                <a href="/accueil">
                    <img id="img-home" src="../img/pictos/house-64.png" alt="Maison">
                    <p class="return">Retour sur le site</p>
                </a>
            </div>
            <div class="offset-2 col-5 offset-lg-8 col-lg-2 return-div">
                <a href="/admin/deconnexion"><img id="img-logout" src="../img/pictos/power-64.png" alt="Maison"><p class="return">Deconnexion</p></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1>Espace d'administration</h1>
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-10 offset-lg-1 col-lg-4">
                <a href="/admin/blog-post" class="menu-block">
                    <img src="../img/pictos/edit-2-128.png" alt="Stylo">
                    <p>Gérer les articles</p>
                </a>
            </div>
            <div class="offset-1 col-10 offset-lg-2 col-lg-4">
                <a href="/admin/comment" class="menu-block">
                    <img src="../img/pictos/chat-4-128.png" alt="Bulle">
                    <p>Gérer les commentaires</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-10 offset-lg-1 col-lg-4">
                <a href="/admin/compte" class="menu-block">
                    <img src="../img/pictos/administrator-128.png" alt="Profil">
                    <p>Gérer les administrateurs</p>
                </a>
            </div>
            <div class="offset-1 col-10 offset-lg-2 col-lg-4">
                <a href={{ "/admin/compte/" ~ admin.pseudo }} class="menu-block">
                    <img src="../img/pictos/edit-user-128.png" alt="Profit Edition">
                    <p>Modifier son profil</p>
                </a>
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
{% endblock %}