body
{
    background-color: #373736;
}

h1, h3, h4
{
    color: #ffffff;
}

h4
{
    font-size: 1.25rem;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: auto;
    margin-top: auto;
}

#return
{
    display: flex;
}

#return a
{
    color: #ffffff;
}

#return a:hover, #return a:focus, #return a:active
{
    text-decoration: underline;
    color: inherit;
}

#img-home
{
    transition: all 300ms;
}

#img-home:hover
{
    transform: scale(1.05, 1.05);
}

h1
{
    font-size: 3.125rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    padding-top: 4rem;
}

h3
{
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* Article */

.blog-post-container
{
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 5.06rem;
    margin-bottom: 2.125rem;
    padding: 1.15rem 2.25rem 2.125rem 2.25rem;
}

.article-row
{
    padding-top: 1.15rem;
}

h2 a
{
    color: #373736;
    font-size: 2.25rem;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
}

h2 a:hover, h2 a:focus, h2 a:active
{
    text-decoration: underline;
    color: inherit;
}

.overview
{
    color: #373736;
    font-size: 1.125rem;
    font-weight: 100;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.link-article a
{
    color: #89ac10;
    text-decoration: none;
}

.link-article a:hover, .link-article a:focus, .link-article a:active
{
    text-decoration: underline;
    color: inherit;
}

.article-separator
{
    /* width: 37.5rem; */
    width: 40vw;
    height: 0.0625rem;
    background-color: #89ac10;
}

.blog-post-container .article-separator:last-child
{
    display: none;
}