{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="css/blog/blogHome.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/blog/cercleDate.css">
{% endblock %}

{% block header %}
    <div class="row">
        <div class="col-3 col-lg-1">
            <a href="/accueil"><img src="img/pictos/house-64-white.png" alt="Maison picto"></a>
        </div>
        <div class="col-9 col-lg-3" id="return">
            <h4><a href="/accueil">Retour à l'accueil</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Carnet de bord d'une développeuse web PHP</h1>
            <h3>Astuces et actualités du monde du développement</h3>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container blog-post-container">
        {% for article in articleCollection %}
            <div class="row article-row">
                <div class="col-6 offset-3 col-sm-4 offset-sm-4 col-md-3 offset-md-0 col-lg-2">
                    {% include 'blog\\dateCercle.html.twig' %}
                </div>
                <div class="col-12 col-md-9 col-lg-10">
                    <h2><a href={{"/blog-post/" ~ article.id }}>{{ article.title }}</a></h2>
                    <p class="overview">{{ article.resume }}</p>
                    <p class="link-article"><a href={{"/blog-post/" ~ article.id }}>Lire l'article ></a></p>
                </div>
            </div>
            <hr class="article-separator">
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}