<div class="col-6 offset-3 col-sm-4 offset-sm-4 col-md-3 offset-md-0 col-lg-2">
    <div class="cercle">
        <p class="month">{{ article.updateDate|date('M') }}</p>
        <p class="day">{{ article.updateDate|date('d') }}</p>
        <hr class="date-separator">
        <p class="year">{{ article.updateDate|date('Y') }}</p>
    </div>
</div>