    <div class="cercle">
        <p class="month">{{ article.updateDate|date('M') }}</p>
        <p class="day">{{ article.updateDate|date('d') }}</p>
        <hr class="date-separator">
        <p class="year">{{ article.updateDate|date('Y') }}</p>
    </div>