.inline-block
{
    display: inline-block;
}

p
{
    font-size: 1.3rem;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    color: #fafaf8;
    padding-top: 3rem;
}

a
{
    font-size: 1.3rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}

#update-password
{
    color: #fcb61e;
    text-align: center;
}

#delete-account:hover
{
    color: #fcb61e;
}

#delete-account
{
    color: #bb0b0b;
    text-align: center;
}

#delete-account:hover
{
    color: #bb0b0b;
}