<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% block title %}<title>Camille LEGALLAND</title>{% endblock %}
        <link rel="stylesheet" href="public/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Dancing+Script|Montserrat:100,400" rel="stylesheet">
        {% block stylesheet %}{% endblock %}
        <link rel="icon" type="image/png" href="public/img/logo.png" />
    </head>

    <body>
        <header>
            <div class="container">
                {% block header %}
                {% endblock %}
            </div>
        </header>

        <div class="body-container">
            {% block body %}
            {% endblock %}
        </div>

        <footer>
            <div class="container">
                {% block footer %}
                {% endblock %}
            </div>
        </footer>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>