<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p>2018 Camille Legalland</p>
                <p>Tous droits réservés</p>
            </div>
            <div class="col-lg-2 offset-lg-2 link">
                <a href="/admin/accueil" hidden>Accès Administration</a>
            </div>
            <div class="col-lg-3 offset-lg-2 link" >
                <a href="/mentions-legales">Mentions légales</a>
            </div>
        </div>
    </div>
</footer>